@font-face {
    font-family: Days;
    src: local('days');
  }

  *  {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Days, Calibri, sans-serif;
  }

  h1, h2 {
    font-family: Days, Calibri, sans-serif;
  }

  header {
    background-color: black;
  }

  .link-wrapper {
    background-color: #d9e9f0;
    width: 80vw;
    height: 60px;
    margin-top: 90px;
    margin-left: 10px;
    display: inline-block;
    position: relative; 
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 1px 7px rgb(34, 87, 179);
  }

  .nav-links {
    padding-left: 20px;
    font-weight: 300;
    line-height: 60px;
    word-spacing: 15px;
    text-align: center;
  }

  #site-logo img {
    float: left;
    border-radius: 50%;
    width: 15vw;
    margin: 10px;
    z-index: 10;
  }

  .nav-links > a::after {
    content: " |";
    text-decoration: none;
  }

  .nav-links > a {
    text-decoration: none;
    color: black;
    font-family: Days;
  }

  #landing-page {
    width: 100%;
    height: 600px;
    margin-top: 70px;
  }

.interaction-box {
  height: 600px;
  width: 23%;
  margin-left: 15px;
  border: 3px solid rgb(34, 87, 179);
  position: absolute;
}

  #hero-image {
    width: 70%;
    height: 600px;
    background-image: url(../images/professional-golfer-bali.jpg);
    background-size: cover;
    /* float: right; */
    position: absolute;
    left: 300px;
    margin-left: 40px;    
  }

  .login-container {
    width: 300px;
    height: 150px;
    background-color: rgba(82, 78, 78, 0.5);
    border: 2px solid rgb(34, 87, 179);
    border-radius: 8px;
    position: relative;
    top: 50px;
    left: 400px;
  }

  #hero-login-forms {
    padding: 15px;
    text-align: center;
  }
  
#hero-login-forms > label {
  padding: 5px;
}

  .form-button {
    font-size: 17px;
    padding: 3px;
    margin-top: 10px;
  }

  .register-container {
    width: 230px;
    height: 70px;
    border: 2px solid rgb(34, 87, 179);
    background-color: rgba(82, 78, 78, 0.5);
    border-radius: 8px;
    position: relative;
    top: 250px;
    left: 425px;
    padding: 15px;
    text-align: center;
  }

.golf-inspo {
  display: inline;
}